<!DOCTYPE html>
<html>

<body>

    <p>Image to use:</p>

    

    <p>Canvas:</p>

    <canvas id="op_area" width="448" height="448" style="border:1px solid #d3d3d3;">
        <img id="src_img" width="448" height="448">
    </canvas>

    <script>
        setInterval(function canvas_update() {
            document.getElementById("src_img").src="123.jpg"
            var canvas = document.getElementById("op_area");
            var ctx = canvas.getContext("2d");
            var img = document.getElementById("src_img");
            ctx.drawImage(document.getElementById("src_img"), 10, 10);
        }, 500);
    </script>

</body>

</html>
