{% extends "base.html" %}
{% block title %}File Upload - DataCleansingGOGO - Let's GO~{% endblock%}

{% block content %}

<div class = "div_upload">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <label>Select Zip File</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name="zippy" id="zippy">
            <label class=" custom-file-label" for="image">Select zip...</label>
        </div>
        <button class="btn btn-primary" type="submit">Upload</button>
    </form>
    <p>Status:</p><p>{{ upload_status }}</p>

</div>

{% endblock%}

{% block js %}
<script type="text/javascript">


</script>
{% endblock%}
